.container-fluid
  .panel.panel-default
    .panel-heading
      %h3.panel-title Sloppy Sets Game Schedule
    .panel-body
      %iframe{frameborder: "0", height: "600", scrolling: "no", src: "https://calendar.google.com/calendar/embed?showTitle=0&height=600&wkst=1&bgcolor=%23ffffff&src=40f8p0eoo6ksea7c73057vjmuo%40group.calendar.google.com&color=%23B1440E&ctz=America%2FChicago", style: "border-width:0", width: "100%"}
