#fb-root
:javascript
  (function(d, s, id) {
    var js, fjs = d.getElementsByTagName(s)[0];
    if (d.getElementById(id)) return;
    js = d.createElement(s); js.id = id;
    js.src = "//connect.facebook.net/en_US/sdk.js#xfbml=1&version=v2.8&appId=1745028265719575";
    fjs.parentNode.insertBefore(js, fjs);
  }(document, 'script', 'facebook-jssdk'));

.container-fluid
  .fb-comments{"data-href" => "https://www.facebook.com/groups/1119757608041752/", "data-numposts" => "5", "data-width" => "500px", style: 'margin: auto;'}
  / %iframe#facebook-feed{:allowtransparency => "true", :frameborder => "0", :height => "500px", :scrolling => "no", :src => "https://www.facebook.com/plugins/page.php?href=https%3A%2F%2Fwww.facebook.com%2FPepperJaxPhillyExpress%2F&tabs=timeline&width=500px&height=500px&small_header=false&adapt_container_width=true&hide_cover=false&show_facepile=true&appId", :style => "border:none;overflow:hidden", :width => "500px"}
