.container-fluid
  %nav.navbar.tm-blue-back
    %ul.nav.navbar-nav
      %li
        %a{href: root_path}
          HOME
      %li
        %a{href: events_path}
          SCHEDULE
      %li
        %a{href: '#'}
          STATS
      %li
        %a{href: players_path}
          PLAYERS
      %li
        %a{href: '#'}
          PHOTOS
